<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yatoooon.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.yatoooon.baselibrary.base.BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${app_name}"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="true"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,LockedOrientationActivity"
        tools:replace="android:allowBackup,android:supportsRtl"
        tools:targetApi="n">
        <activity android:name=".mvp.ui.activity.TestActivity" />
        <!--
 只要依赖 AutoSize 就必须填写设计图尺寸, 否则报错, 不想使用 AutoSize 就不要依赖 AutoSize
        只要填写完设计图的尺寸, AutoSize 就会自动启动, 以下 dp 尺寸是根据公式 px / (dpi / 160) 求出, 运算时使用测试机的 dpi 即可
        AutoSize 的详细介绍请看这里 https://juejin.im/post/5bce688e6fb9a05cf715d1c2
        -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" /> <!-- Arms 配置 -->
        <meta-data
            android:name="com.yatoooon.demo.app.GlobalConfiguration"
            android:value="ConfigModule" /> <!-- 适配 Android 7.0 文件意图 -->
        <!-- 适配 Android 7.0 文件意图 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- 闪屏界面 -->
        <activity
            android:name=".mvp.ui.activity.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">

            <!-- 程序入口 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 崩溃界面 -->
        <activity
            android:name=".mvp.ui.activity.CrashActivity"
            android:launchMode="singleTop"
            android:process=":crash"
            android:screenOrientation="landscape" /> <!-- 重启应用（必须在独立进程） -->
        <activity
            android:name=".mvp.ui.activity.RestartActivity"
            android:launchMode="singleTop"
            android:process=":restart" /> <!-- 引导界面 -->
        <activity
            android:name=".mvp.ui.activity.GuideActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- App 首页 -->
        <activity
            android:name=".mvp.ui.activity.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- 登录界面 -->
        <activity
            android:name=".mvp.ui.activity.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 注册界面 -->
        <activity
            android:name=".mvp.ui.activity.RegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 设置界面 -->
        <activity
            android:name=".mvp.ui.activity.SettingActivity"
            android:label="@string/setting_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 忘记密码 -->
        <activity
            android:name=".mvp.ui.activity.PasswordForgetActivity"
            android:label="@string/password_forget_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 重置密码 -->
        <activity
            android:name=".mvp.ui.activity.PasswordResetActivity"
            android:label="@string/password_reset_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 手机号更换 -->
        <activity
            android:name=".mvp.ui.activity.PhoneChangeActivity"
            android:label="@string/phone_reset_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 关于我们 -->
        <activity
            android:name=".mvp.ui.activity.AboutActivity"
            android:label="@string/about_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 个人资料 -->
        <activity
            android:name=".mvp.ui.activity.PersonInfoActivity"
            android:label="@string/personal_data_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 浏览器 -->
        <activity
            android:name=".mvp.ui.activity.BrowserActivity"
            android:label="@string/web_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 拍照选择 -->
        <activity
            android:name=".mvp.ui.activity.CameraActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 图片选择 -->
        <activity
            android:name=".mvp.ui.activity.ImageSelectActivity"
            android:label="@string/image_select_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 查看大图 -->
        <activity
            android:name=".mvp.ui.activity.ImagePreviewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 播放视频 -->
        <activity
            android:name=".mvp.ui.activity.VideoPlayActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreenTheme" /> <!-- 选择视频 -->
        <activity
            android:name=".mvp.ui.activity.VideoSelectActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 对话框案例 -->
        <activity
            android:name=".mvp.ui.activity.DialogActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 状态案例 -->
        <activity
            android:name=".mvp.ui.activity.StatusActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>

</manifest>